/* --- MOBILE --- */
.features {
  padding: 96px 0;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-icon-container {
  display: none; /* Приховано на мобілці */
}
.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* --- TABLET --- */
@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px; /* 72px вертикально, 24px горизонтально */
  }
  .features-item {
    width: calc((100% - 24px) / 2); /* 2 колонки */
  }
  .features-subtitle {
    text-align: left;
  }
}

/* --- DESKTOP --- */
@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0; /* Збільшений padding */
  }
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4); /* 4 колонки */
  }
  .features-icon-container {
    display: flex; /* Іконки з'являються тільки тут */
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}